.idea
.idea/*
setup.properties
target/archive-tmp
target/classes
target/generated-sources
target/maven-archiver
target/maven-status
target/SEPTEMBER_2019
target/Zips
target/OCR-1.0-SNAPSHOT-jar-with-dependencies.jar
target/OCR-1.0-SNAPSHOT.jar
target/setup.properties
out/*
/.idea/
application.properties
/src/main/resources/keystore/nussbotBU.p12
/src/main/resources/keystore/nussbot.p12
