dbPath=
threads=4
localArchivePath=
lastInputPath=
tessData=
tessLang=
tessHTML=
#Testibot:
#tgBotToken=888027877:AAFMukIwai_JiiHjNS9aj7nWZHdsIsfer48
tgBotToken=
pwForNewUsers=Nuss
projectFolderOnHost=
#projectFolderOnHost=
alternativePathToArchive=
#alternativePathToArchive=
