#!!!NEEDED!!!Path to SQLite DB
dbPath=
threads=4
#!!!NEEDED!!!Path to local archive folder. Create it yourself!
localArchivePath=
#Stores last in Gui browser inputFolder. No need to feel in manually
lastInputPath=
#!!!NEEDED!!!Path to tessData Files
tessData=
#eng, ger, etc. default is eng
tessLang=
#output result als html?
tessHTML=false
#Testibot:
#tgBotToken=888027877:AAFMukIwai_JiiHjNS9aj7nWZHdsIsfer48
#!!!NEEDED!!! token for Telegram bot
tgBotToken=
#!!!NEEDED!!!PW
pwForNewUsers=Nuss
projectFolderOnHost=
alternativePathToArchive=
//Path to remote folder. will be replaced with localpath when fetching docs in GUI.
pathToRemoteProjectFolder=

