<configuration>
    <timestamp key="timestamp" datePattern="yyyy-MM-dd"/>
    <timestamp key="timestampyearmonth" datePattern="yyyy-MM"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/home/pi/Dokumente/Projekte/OCR-Docs-Storage/Archiv/.log/${timestampyearmonth}/${timestamp}.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
